<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Python19 Platform</title>

		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/main.css" rel="stylesheet">
		<link href="/static/css/extend.css" rel="stylesheet">
		<script type="text/javascript" src="http://www.w3school.com.cn/jquery/jquery-1.11.1.min.js"></script>

	</head>

	<body>

		<nav class="navbar top-bg-color navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				   </button>
				   <a class="navbar-brand" href="#"><font color="#F0F8FF">Python19 Platform</font></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><font color="#F0F8FF">退出</font></a></li>
					</ul>
				</div>
			</div>
		</nav>

    <div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/catfile">查看文件</a></li>
					<li><a href="/ssum">数字求和</a></li>
					<li class="active"><a href="/command">命令执行</a></li>
					<li><a href="/assets">资产管理</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">执行命令</h1>
				<form action="/api/command/" id="commandform">
					输入命令: <input type="text" name="cmd" />
					<input id="submitcommand" type="button" value="执行" />
				</form>
				<br>
				执行结果：<br>
				<textarea  id="data" style="width: 600px; height: 500px; color: black;"></textarea>

		</div>
    </div>
	<script>
        $("#submitcommand").click(function(){
            var targetUrl = $("#commandform").attr("action");
            var data = $("#commandform").serialize();
            $.get(targetUrl, data, function (result, status) {
                $("#data").val(result);
            })
        })
	</script>
	</body>
</html>