<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>运维管理平台</title>

		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/main.css " rel="stylesheet">
		<link href="/static/css/extend.css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
	</head>

	<body>

		<nav class="navbar top-bg-color navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				   </button>
				   <a class="navbar-brand" href="/"><font color="#F0F8FF">运维管理平台</font></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><font color="#F0F8FF">退出</font></a></li>
					</ul>
				</div>
			</div>
		</nav>

    <div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/">仪表盘</a></li>
					<li class="active"><a href="/utils/">常用工具</a></li>
					<li><a href="/command/">命令执行</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">计算器</h1>
				<form method="get" action="/utils.html">
					num1:<input type="text" name="num1" id="num1"/>
					num2:<input type="text" name="num2" id="num2"/>
					<input type="button" id="ssum"   value="求和	"/>
				</form>
				<hr />
				<h3>运行结果</h3>
				<p>
					<pre id="content"></pre>
				</p>
			</div>
		</div>
    </div>
    <script>
    	$("#ssum").click(function(){
    		var cmd1=document.getElementById('num1').value
    		var cmd2=document.getElementById('num2').value
    		var url="http://47.52.228.140:8000/utils/?num1=" +cmd1 +"&num2=" +cmd2;
    		$.get(url,function(data,status){
    			console.log(status);
    			obj=document.getElementById('content');
    			if (status == "success"){
    				obj.innerHTML = data;
    			} else {
    				obj.innerHTML = "执行失败"
    			}
    			
    		})
    		
    	})
    </script>

	</body>
</html>