{% extends "base.html" %}

{% block content %}
<h2 class="page-header">命令执行</h2>
<div class="container" style="width: auto;">
    <center>
        <h3>请输入要执行的命令</h3>
        <textarea id="cmdText" class="form-control" style="height: 35px;"></textarea>
        <br/>
        <button type="button" id="cmdBtn" class="btn btn-sm btn-primary">提交</button>
    </center>
</div>
<div id="result" style="visibility: hidden;">
    <hr/>
    <center><h3>命令的执行结果：</h1></center>
    <p id="content" style="width: auto;"></p>
</div>

</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    $("#cmdBtn").click(function () {
        var cmd = document.getElementById("cmdText").value;
        document.getElementById("cmdText").value = "";
        var url = "http://192.168.100.100:8000/api/command?cmd=" + cmd;
        $.get(url, function (data) {
            obj = document.getElementById("content");
            $("#result").attr("style", "display:visible;");
            obj.innerHTML = data;
            //if (status == "success") {
            //    $("#result").attr("style", "display:visible;");
            //    obj.innerHTML = data;
            //} else {
            //    obj.innerHTML = "命令执行失败。";
            //}

        })
    })
</script>
{% endblock %}
