<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Python19 Platform</title>

		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/main.css" rel="stylesheet">
		<link href="/static/css/extend.css" rel="stylesheet">
	</head>

	<body>

		<nav class="navbar top-bg-color navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				   </button>
				   <a class="navbar-brand" href="#"><font color="#F0F8FF">Python19 Platform</font></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><font color="#F0F8FF">退出</font></a></li>
					</ul>
				</div>
			</div>
		</nav>

    <div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="/">仪表盘</a></li>
					<li><a href="/command">命令执行</a></li>
					<li><a href="/ssum">求和</a></li>
					<li><a href="/assets">资产管理</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">资产管理</h1>

				<form>
				  <div class="form-group">
					<label for="exampleInputEmail1">主机名</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="主机名">
				  </div>
				  <div class="form-group">
					<label for="exampleInputPassword1">Cpu核</label>
					<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cpu核">
				  </div>
					<div class="form-group">
					<label for="exampleInputEmail1">Cpu型号</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cpu型号">
				  </div>

				  <div class="form-group">
					<label for="exampleInputPassword1">内存</label>
					<input type="text" class="form-control" id="exampleInputPassword1" placeholder="内存">
				  </div>
					<div class="form-group">
					<label for="exampleInputEmail1">磁盘</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="磁盘">
				  </div>
				  <div class="form-group">
					<label for="exampleInputPassword1">公网IP</label>
					<input type="text" class="form-control" id="exampleInputPassword1" placeholder="公网IP">
				  </div>
					<div class="form-group">
					<label for="exampleInputEmail1">私网IP</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="私网IP">
				  </div>
				  <div class="form-group">
					<label for="exampleInputPassword1">远程IP</label>
					<input type="text" class="form-control" id="exampleInputPassword1" placeholder="远程IP">
				  </div>
					<div class="form-group">
					<label for="exampleInputEmail1">管理人员</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="管理人员">
				  </div>
				  <div class="form-group">
					<label for="exampleInputPassword1">操作系统</label>
					<input type="text" class="form-control" id="exampleInputPassword1" placeholder="操作系统">
				  </div>
                                   <div class="form-group">
                                        <label for="exampleInputPassword1">服务线</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="服务线">
                                  </div>

                                   <div class="form-group">
                                        <label for="exampleInputPassword1">机柜</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="机柜">
                                  </div>

                                  <div class="form-group">
                                        <label for="exampleInputPassword1">状态</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="状态">
                                  </div>

                                   <div class="form-group">
                                        <label for="exampleInputPassword1">备注</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="备注">
                                  </div>



					<input type="submit" class="btn btn-default" value="提交">
				</form>


			</div>
		</div>
    </div>



	</body>
</html>
