<!DOCTYPE html>
<html>
		<head>
			  <meta charset="utf-8">
			  <meta http-equiv="X-UA-Compatible" content="IE=edge">
			  <title>AdminLTE 2 | Dashboard</title>
			  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
			  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
			  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
			  <link rel="stylesheet" href="/static/css/ionicons.min.css">
			  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
			  <link rel="stylesheet" href="/static/css/_all-skins.min.css">
			  <link rel="stylesheet" href="/static/css/morris.css">
			  <link rel="stylesheet" href="/static/css/jquery-jvectormap.css">
			  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
			  <link rel="stylesheet" href="/static/css/daterangepicker.css">
			  <link rel="stylesheet" href="/static/css/bootstrap3-wysihtml5.min.css">
			<link rel="stylesheet" href="/static/css/sweetalert.css">
			  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
		</head>
		
		
<body class="hold-transition skin-blue sidebar-mini">
	
		    <!--头部信息-->
		<div class="wrapper">
  			<header class="main-header">
		    		<a href="index2.html" class="logo">
		      		<span class="logo-mini"><b>A</b>LT</span>
		      		<span class="logo-lg"><b>Admin</b>LTE</span>
		    		</a>
    				<nav class="navbar navbar-static-top">
      					<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        						<span class="sr-only">Toggle navigation</span>
      					</a>

      					<div class="navbar-custom-menu">
						        <ul class="nav navbar-nav">
							          <li class="dropdown user user-menu">
							            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							              		<img src="/static/img/user2-160x160.jpg" class="user-image" alt="User Image">
							              		<span class="hidden-xs">Monkey</span>
							            	</a>
							            	<ul class="dropdown-menu">
							              		<li class="user-header">
							                			<img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
							              		</li>
							     
									              <li class="user-footer">
									              		<div class="pull-left">
									                  		<a href="#" class="btn btn-default btn-flat">个人信息</a>
									                	</div>
									                	<div class="pull-right">
									                  		<a href="/account/logout/" class="btn btn-default btn-flat">退出</a>
								                		</div>
									              </li>
							            	</ul>
						          	</li>
						        </ul>
      					</div>
    					</nav>
  			</header>

  			<aside class="main-sidebar">
		    		<section class="sidebar">

		    				<!--菜单栏-->
					      <div class="user-panel">
						        <div class="pull-left image">
						          <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
						        </div>
						        <div class="pull-left info">
						          <p>Alexander Pierce</p>
						          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
						        </div>
					      </div>

					      <ul class="sidebar-menu" data-widget="tree">
					        	<li class="header">USER MANAGEMENT OS</li>


					        	<li class="treeview">
					          		<a href="#">
					            			<i class="fa fa-edit"></i> <span>用户管理</span>
					            			<span class="pull-right-container">
					              				<i class="fa fa-angle-left pull-right"></i>
					            			</span>
					          		</a>
							          <ul class="treeview-menu">
								            <li><a href="list"><i class="fa fa-circle-o"></i> 用户管理</a></li>
								            <li><a href="#"><i class="fa fa-circle-o"></i> 用户组管理</a></li>
							          </ul>
					        	</li>
					      </ul>
				    </section>
			  </aside>

            <!--用户管理子页签-->
		  	<div class="content-wrapper">
		    		<section class="content-header">
					      <h1>用户管理</h1>
					      
					      <ol class="breadcrumb">
					        	<li><a href="/user"><i class="fa fa-dashboard"></i> Home</a></li>
					        	<li class="active">用户管理</li>
					      </ol>
		    		</section>
            </br>
                <button class="btn btn-info btn-xs "><a href="/user/list">返回列表</a></button>
		    </br>
            <div class="box-body">
            		<table class="table table-hover table-bordered table-striped ">
            				<thead style="text-align: center;">
            				<tr >
            					<td>用户ID</td>
            					<td>姓名</td>
            					<td>性别</td>
                                <td>地址</td>
                                <td>备注</td>
            					<td>身份证号</td>
            					<td>年龄</td>
                                <td>创建日期</td>
                                <td>修改日期</td>
            				</tr>
            				</thead>
                            <thead style="text-align: center;">
                            <tr >
            					<td>{{ user.id }}</td>
            					<td>{{ user.username }}</td>
            					<td>{{ user.gender }}</td>
                                <td>{{ user.address }}</td>
                                <td>{{ user.remark }}</td>
            					<td>{{ user.id_card }}</td>
            					<td>{{ user.age }}</td>
                                <td>{{ user.create_time }}</td>
                                <td>{{ user.update_time }}</td>
                                <td>
                                    <button class="btn btn-info btn-xs btnUpdate" data-toggle="modal" data-target="#updateUser" data="{{ user.id }}">修改</button>
                                    <button class="btn btn-danger btn-xs btnDelete" data="{{ user.id }}">删除</button>
            				    </td>
                            </tr>
            				</thead>
  	    </div>

{# user update 二级界面 #}
<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="myUserLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myUserLabel">添加用户</h4>
      		</div>
      		<div class="modal-body">
        		<form id="formAddAsset" class="form-horizontal" method="POST" action="/user/update">

                    <div class="form-group">
    					<label class="col-sm-3 control-label">用户ID: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="id" value={{ user.id }} readonly="readonly">
    					</div>
  					</div>

                    <div class="form-group">
    					<label class="col-sm-3 control-label">姓名: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="username" value={{ user.username }} >
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">性别: </label>
    					<div class="col-sm-8">
      						<select type="text" class="form-control" name="gender" value={{ user.gender }}>
                                <option value="0">man</option>
                                <option value="1">woman</option>
                            </select>
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">身份证号: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="id_card" value={{ user.id_card }} readonly="readonly">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">年龄: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="age" value={{ user.age }}>
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">地址: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="address" value={{ user.address }}>
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">备注: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="remark" value={{ user.remark }}>
    					</div>
  					</div>

                    <div class="form-group">
    					<div class="col-sm-offset-6">
                            <input type="submit" value="修改" class="btn btn-info">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    					</div>
  					</div>
				</form>
      		</div>

    	</div>
  	</div>
</div>


		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/adminlte.min.js"></script>
		<script src="/static/js/sweetalert.min.js"></script>

		<script>
            $('.btnDelete').click(function () {
                var id = $(this).attr("data");
                var url = "http://127.0.0.1:8000/user/delete/?id=" + id;
                $.get(url,function (data) {
                    alert('删除成功')
                });

                {#window.location.reload()#}

            })

		</script>

</body>
</html>