<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Python19 Platform</title>

		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/main.css" rel="stylesheet">
		<link href="/static/css/extend.css" rel="stylesheet">
		 <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
	</head>

	<body>

		<nav class="navbar top-bg-color navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><font color="#F0F8FF">Python19 Platform</font></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><font color="#F0F8FF">退出</font></a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="/dashboard">仪表盘</a></li>
						<li><a href="/command">命令执行</a></li>
						<li><a href="/users">用户管理</a></li>
						<li><a href="/ssum">求和</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h1 class="page-header">Dashboard</h1>
					<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
						num1: <input id="txtarea1" type="text" name="num1" />
						num2: <input id="txtarea2" type="text" name="num2"/>
						<button id="getcurl" type="button" class="btn btn-danger" onclick="timess(id)">求和</button>

						<h1 style="text-align:center">结果</h1>
						<div cols="155" style="text-align:center;">
							
							<pre id="output"> </pre>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>

	</body>
</html>
<script>
	console.log(url)
	function timess(id){

		var num1 = document.getElementById("txtarea1").value;
		var num2 = document.getElementById("txtarea2").value;
		obj = document.getElementById("output");
		obj.innerHTML = parseInt(num1)+parseInt(num2)
		// return false
		// var url="http://172.18.41.30:8000/ssum?num1="+num1+"&num2="+num2
		
		// document.getElementById(id).value='';
		// jQuery("#getcurl").click(function(){
		// jQuery.get(url,function(data,status){
			// alert("数据: " + data + "\n状态: " + status);
			// obj = document.getElementById("output");
			// obj.value = 333
			//if (status == "success") {
			//	obj.innerHTML = data;
			//} else {
			//	obj.innerHTML = "faild";
			//}
		// });
		// });
	}

</script>
