<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/css/_all-skins.min.css">
    <link rel="stylesheet" href="/static/css/morris.css">
    <link rel="stylesheet" href="/static/css/jquery-jvectormap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/css/daterangepicker.css">
    <link rel="stylesheet" href="/static/css/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>


<body class="hold-transition skin-blue sidebar-mini">

<!--头部信息-->
<div class="wrapper">
    <header class="main-header">
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>A</b>LT</span>
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/static/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">Monkey</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/account/logout/" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <aside class="main-sidebar">
        <section class="sidebar">

            <!--菜单栏-->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>

                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>资源管理</span>
                        <span class="pull-right-container">
							              		<i class="fa fa-angle-left pull-right"></i>
							            	</span>
                    </a>

                    <ul class="treeview-menu">
                        <li class="active"><a href="/assets/list/"><i class="fa fa-circle-o"></i> 资产管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 负载均衡</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>批量管理</span>
                        <span class="pull-right-container">
						              			<span class="label label-primary pull-right">4</span>
						            		</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> 简单命令执行</a></li>
                        <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> 上传文件</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>用户管理</span>
                        <span class="pull-right-container">
					              				<i class="fa fa-angle-left pull-right"></i>
					            			</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 用户管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 用户组管理</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>


    <div class="content-wrapper">
        <section class="content-header">
            <h1>Dashboard
                <small>Control panel</small>
            </h1>

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <section class="content">


            <div class="box">
                <div class="box-header" style="float: left">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加</button>
                    <button type="button" class="btn btn-info" id="export_csv">
                        <a href="/assets/export/csv/"> 导出 </a>
                </div>
                <div class="box-header" style="float: right">
                    <form class="form-inline" method="GET" action="">
                        <input type="text" class="form-control" style="width: 300px" name="search_value">
                        <button class="btn btn-info">搜索</button>
                    </form>
                </div>

                <div class="box-body">
                    <table class="table table-hover table-bordered table-striped ">
                        <thead style="text-align: center;">
                        <tr>
                            <td>ID</td>
                            <td>主机名</td>
                            <td>私网ip</td>
                            <td>外网ip</td>
                            <td>cpu核</td>
                            <td>cpu型号</td>
                            <td>内存</td>
                            <td>磁盘</td>
                            <td>操作系统</td>
                            <td>机器状态</td>
                            <td>机架</td>
                            <td>创建时间</td>
                            <td>更新时间</td>
                            <td>备注</td>
                            <td>操作</td>
                        </tr>
                        </thead>

                        <tbody style="text-align: center;">
                        {% for obj in content %}
                        <tr>
                            <td>{{ obj.pk }}</td>
                            <td>{{ obj.hostname }}</td>
                            <td>{{ obj.private_ip }}</td>
                            <td>{{ obj.public_ip }}</td>
                            <td>{{ obj.cpu_num }}</td>
                            <td>{{ obj.cpu_model }}</td>
                            <td>{{ obj.mem_total }}</td>
                            <td>{{ obj.disk }}</td>
                            <td>{{ obj.os_system }}</td>
                            <td>{{ obj.status }}</td>
                            <td>{{ obj.frame }}</td>
                            <td>{{ obj.create_time }}</td>
                            <td>{{ obj.update_time }}</td>
                            <td>{{ obj.remark }}</td>
                            <td style="text-align: center;">

                                <button type="button" class="btn btn-primary btn-xs btnDetail" data-toggle="modal"
                                        data-target="#detailModal" data="{{ obj.pk }}">详情
                                </button>
                                <button type="button" data-toggle="modal" data-target="#editModal"
                                        class="btn btn-info btn-xs btnEdit" data="{{ obj.pk }}">编辑
                                </button>
                                <button type="button" class="btn btn-danger btn-xs btnDelete" data="{{ obj.pk }}">删除
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑资产</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="formEdit">
                        <div class="form-group" style="display: none;">
                            <label class="col-sm-2 control-label">ID:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="pk" disabled="disabled" id="edit_pk">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">主机名:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="hostname" disabled="disabled"
                                       id="edit_hostname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">公网ip:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="public_ip" id="edit_public_ip">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">私有ip:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="private_ip" id="edit_private_ip">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">远程ip:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="remote_ip" id="edit_remote_ip">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">机器的状态:</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="status" id="edit_status">
                                    <option>---请选择---</option>
                                    <option value="0">关机</option>
                                    <option value="1">运行</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务线:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="service_line" id="edit_service_line">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">机架:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="frame" id="edit_frame">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">负责人:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="op" id="edit_op">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="remark" id="edit_remark"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnModalEditAset" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabeladd">添加资产</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" id="formAdd">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">主机名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="hostname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">内网ip</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="private_ip">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">外网ip</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="public_ip">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">cpu_num</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="cpu_num">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">cpu_model</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="cpu_model">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">cpu_model</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="mem_total">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">disk</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="disk">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">remote_ip</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="remote_ip">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">op</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="op">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">os_system</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="os_system">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">service_line</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="service_line">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">frame</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="frame">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="status">
                                    <option>---请选择---</option>
                                    <option value="0">关机</option>
                                    <option value="1">运行</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="remark"></textarea>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btnAddAsset">提交</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Detail Asset Modal -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabellist">详细信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="formDetail">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">主机名:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="hostname" disabled="disabled"
                                       id="detail_hostname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">CPU核数:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="cpu_num" disabled="disabled"
                                       id="detail_cpu_num">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">CPU型号:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="cpu_model" disabled="disabled"
                                       id="detail_cpu_model">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">内存:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="mem_total" disabled="disabled"
                                       id="detail_mem_total">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">磁盘大小:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="disk" disabled="disabled"
                                       id="detail_disk">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">公网ip:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="public_ip" disabled="disabled"
                                       id="detail_public_ip">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">私有ip:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="private_ip" disabled="disabled"
                                       id="detail_private_ip">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">远程ip:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="remote_ip" disabled="disabled"
                                       id="detail_remote_ip">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">机器的状态0 | 1:</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="status" disabled="disabled" id="detail_status">
                                    <option>---请选择---</option>
                                    <option value="0">关机</option>
                                    <option value="1">运行</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">操作系统:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="os_system" disabled="disabled"
                                       id="detail_os_system">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务线:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="service_line" disabled="disabled"
                                       id="detail_service_line">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">机架:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="frame" disabled="disabled"
                                       id="detail_frame">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">负责人:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="op" disabled="disabled" id="detail_op">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="remark" disabled="disabled"
                                          id="detail_remark"></textarea>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/adminlte.min.js"></script>
<script src="/static/js/sweetalert.min.js"></script>

<script>

    function deleteRecord(url) {
        $.ajax({
            type: 'DELETE',
            data: '',
            url: url,
            success: function (data) {
                swal("删除！", "删除成功", "success");
            },
            dataType: 'text',
            error: function () {
                swal("删除！", "删除失败。", "error");
            }
        })
    }

    $('.btnDelete').click(function () {
        var pk = $(this).attr('data');
        var url = "/assets/delete/" + pk + "/";
        swal({
                title: "确定删除吗？",
                text: "你确定删除该条记录吗？",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定删除！",
                cancelButtonText: "取消删除！",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    deleteRecord(url);

                } else {
                    swal("取消！", "取消成功", "error");
                }
            });

    });
    $('#btnAddAsset').click(function () {
        var data = $("#formAdd").serialize();
        var url = "/assets/add/";
        console.log(url);
        $.post(url, data, function (retdata) {
            alert(retdata);
        })
    });

    $('.btnEdit').click(function () {
        var pk = $(this).attr('data');
        var url = "/assets/detail/" + pk + "/";
        $.get(url, function (data) {
            $('#edit_pk').val(pk);
            $('#edit_hostname').val(data.hostname);
            $('#edit_public_ip').val(data.public_ip);
            $('#edit_private_ip').val(data.private_ip);
            $('#edit_remote_ip').val(data.remote_ip);
            $('#edit_status').val(data.status);
            $('#edit_service_line').val(data.service_line);
            $('#edit_frame').val(data.frame);
            $('#edit_op').val(data.op);
            $('#edit_remark').val(data.remark);
            $('#btnEditAsset').click(function () {
                var data = $("#formEdit").serialize();
                var url = "/assets/edit/" + pk + "/";
                EditRecord(url, data);
            })
        })
    })

    $('.btnDetail').click(function () {
        var pk = $(this).attr('data');
        var url = "/assets/detail/" + pk + "/";
        $.get(url, function (data) {
            $('#detail_hostname').val(data.hostname)
            $('#detail_cpu_num').val(data.cpu_num)
            $('#detail_cpu_model').val(data.cpu_model)
            $('#detail_mem_total').val(data.mem_total)
            $('#detail_disk').val(data.disk)
            $('#detail_public_ip').val(data.public_ip)
            $('#detail_private_ip').val(data.private_ip)
            $('#detail_remote_ip').val(data.remote_ip)
            $('#detail_status').val(data.status)
            $('#detail_os_system').val(data.os_system)
            $('#detail_service_line').val(data.service_line)
            $('#detail_frame').val(data.frame)
            $('#detail_op').val(data.op)
            $('#detail_remark').val(data.remark)
        })
    })

</script>

</body>
</html>