<!DOCTYPE html>
<html>
		<head>
			  <meta charset="utf-8">
			  <meta http-equiv="X-UA-Compatible" content="IE=edge">
			  <title>AdminLTE 2 | Dashboard</title>
			  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
			  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
			  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
			  <link rel="stylesheet" href="/static/css/ionicons.min.css">
			  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
			  <link rel="stylesheet" href="/static/css/_all-skins.min.css">
			  <link rel="stylesheet" href="/static/css/morris.css">
			  <link rel="stylesheet" href="/static/css/jquery-jvectormap.css">
			  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
			  <link rel="stylesheet" href="/static/css/daterangepicker.css">
			  <link rel="stylesheet" href="/static/css/bootstrap3-wysihtml5.min.css">
				<link rel="stylesheet" href="/static/css/sweetalert.css">
			  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
		</head>
		
		
<body class="hold-transition skin-blue sidebar-mini">
	
		<!--头部信息-->
		<div class="wrapper">
  			<header class="main-header">
		    		<a href="#" class="logo">
		      		<span class="logo-mini"><b>A</b>LT</span>
		      		<span class="logo-lg"><b>Admin</b>LTE</span>
		    		</a>
    				<nav class="navbar navbar-static-top">
      					<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        						<span class="sr-only">Toggle navigation</span>
      					</a>

      					<div class="navbar-custom-menu">
						        <ul class="nav navbar-nav">
							          <li class="dropdown user user-menu">
							            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							              		<img src="/static/img/user2-160x160.jpg" class="user-image" alt="User Image">
							              		<span class="hidden-xs">Monkey</span>
							            	</a>
							            	<ul class="dropdown-menu">
							              		<li class="user-header">
							                			<img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
							              		</li>
							     
									              <li class="user-footer">
									              		<div class="pull-left">
									                  		<a href="#" class="btn btn-default btn-flat">个人信息</a>
									                	</div>
									                	<div class="pull-right">
									                  		<a href="/account/logout/" class="btn btn-default btn-flat">退出</a>
								                		</div>
									              </li>
							            	</ul>
						          	</li>
						        </ul>
      					</div>
    					</nav>
  			</header>
  			
  			
  			<aside class="main-sidebar">
		    		<section class="sidebar">
		    			
		    				<!--菜单栏-->
					      <div class="user-panel">
						        <div class="pull-left image">
						          <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
						        </div>
						        <div class="pull-left info">
						          <p>Alexander Pierce</p>
						          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
						        </div>
					      </div>
 
					      <ul class="sidebar-menu" data-widget="tree">
					        	<li class="header">MAIN NAVIGATION</li>
					        	
					        	<li class="active treeview">
					          		<a href="#">
						            		<i class="fa fa-dashboard"></i> <span>资源管理</span>
							            	<span class="pull-right-container">
							              		<i class="fa fa-angle-left pull-right"></i>
							            	</span>
					          		</a>
					          		
							          <ul class="treeview-menu">
							            <li class="active"><a href="/assets/list/"><i class="fa fa-circle-o"></i> 资产管理</a></li>
							            <li><a href="#"><i class="fa fa-circle-o"></i> 负载均衡</a></li>
							          </ul>
					        	</li>
					        	
						        <li class="treeview">
						          	<a href="#">
						            		<i class="fa fa-files-o"></i>
						            		<span>批量管理</span>
						            		<span class="pull-right-container">
						              			<span class="label label-primary pull-right">4</span>
						            		</span>
						          	</a>
						          	<ul class="treeview-menu">
						            		<li><a href="#"><i class="fa fa-circle-o"></i> 简单命令执行</a></li>
						            		<li><a href="#"><i class="fa fa-circle-o"></i> 上传文件</a></li>
						          	</ul>
					        	</li>
					     
					        	<li class="treeview">
					          		<a href="#">
					            			<i class="fa fa-edit"></i> <span>用户管理</span>
					            			<span class="pull-right-container">
					              				<i class="fa fa-angle-left pull-right"></i>
					            			</span>
					          		</a>
							          <ul class="treeview-menu">
								            <li><a href="#"><i class="fa fa-circle-o"></i> 用户管理</a></li>
								            <li><a href="#"><i class="fa fa-circle-o"></i> 用户组管理</a></li>
							          </ul>
					        	</li>
					      </ul>
				    </section>
			  </aside>



		  	<div class="content-wrapper">
		    		<section class="content-header">
					      <h1>Dashboard<small>Control panel</small></h1>
					      
					      <ol class="breadcrumb">
					        	<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					        	<li class="active">Dashboard</li>
					      </ol>
		    		</section>
		
		    		<section class="content">
		    			
		    			


					<div class="box">
						<div class="box-header" style="float: left">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">添加</button>
							<button type="button" class="btn btn-info" id="export_csv" >
								<a href="/assets/export/csv/"> 导出 </a>
							</button>
						</div>
						<div class="box-header" style="float: right">
							<form class="form-inline" method="GET" action="/assets/list/">
								<input type="text" name="search_value" class="form-control" placeholder="搜索主机名" style="width: 300px">
								<button type="submit" class="btn btn-default">搜索</button>
							</form>
						</div>
            <div class="box-body">
				<table class="table table-hover table-bordered table-striped ">
					<thead style="text-align: center;">
					<tr >
						<td>#</td>
						<td>主机名</td>
						<td>内网ip</td>
						<td>外网ip</td>
						<td>cpu核</td>
						<td>cpu模型</td>
						<td>机器状态</td>
						<td>运维负责人</td>
						<td>操作</td>
					</tr>
					</thead>

					<tbody style="text-align: center;">
						{% for obj in objs %}
						<tr>
							<td>{{ obj.pk }}</td>
							<td>{{ obj.hostname }}</td>
							<td>{{ obj.private_ip }}</td>
							<td>{{ obj.public_ip }}</td>
							<td>{{ obj.cpu_num }}</td>
							<td>{{ obj.cpu_model }}</td>
							<td>{{ obj.status }}</td>
							<td>{{ obj.op }}</td>
							<td style="text-align: center;">
								<button type="button" class="btn btn-primary btn-xs btnDetail" data="{{ obj.pk }}">详情</button>
								<button type="button" data-toggle="modal" data-target="#editModal" class="btn btn-info btn-xs btnEdit" data="{{ obj.pk }}">编辑</button>
								<button type="button" class="btn btn-danger btn-xs btnDelete" data="{{ obj.pk }}">删除</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>



<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" >添加资产</h4>
      		</div>
      		<div class="modal-body">
        		<form class="form-horizontal" method="/assets/edit/" action="POST" id="formEditAsset">
					<input id="edit_pk" style="display: none" name="pk">

			  		<div class="form-group">
    					<label class="col-sm-3 control-label">主机名: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" id="edit_hostname" name="hostname" disabled="disabled">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">状态: </label>
    					<div class="col-sm-8">
							<select class="form-control" name="status" id="edit_status">
								<option value="0">关机</option>
								<option value="1">运行</option>
							</select>
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">负责人: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" id="edit_op" name="op" >
    					</div>
  					</div>


					<div class="form-group">
    					<label class="col-sm-3 control-label">备注: </label>
    					<div class="col-sm-8">
							<textarea class="form-control" id="edit_remark" name="remark"></textarea>
    					</div>
  					</div>

				</form>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        		<button type="button" id="btnModalEditAset" class="btn btn-primary">提交</button>
      		</div>
    	</div>
  	</div>
</div>



				<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">添加资产</h4>
      		</div>
      		<div class="modal-body">
        		<form id="formAddAsset" class="form-horizontal" method="/assets/add/" action="POST">

			  		<div class="form-group">
    					<label class="col-sm-3 control-label">主机名: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="hostname" required>
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">内网ip: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="private_ip">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">外网ip: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="public_ip">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">Cpu核: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="cpu_num">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">Cpu型号: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="cpu_model">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">内存: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="mem_total">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">磁盘大小: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="disk">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">远程ip: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="remote_ip">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">运维负责人: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="op">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">机器的状态: </label>
    					<div class="col-sm-8">
							<select class="form-control" name="status">
								<option value="">---请选择---</option>
								<option value="0">关机</option>
								<option value="1">运行</option>
							</select>
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">操作系统: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="os_system">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">所属业务线: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="service_line">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">机架: </label>
    					<div class="col-sm-8">
      						<input type="text" class="form-control" name="frame">
    					</div>
  					</div>

					<div class="form-group">
    					<label class="col-sm-3 control-label">备注: </label>
    					<div class="col-sm-8">
							<textarea type="text" class="form-control" name="remark"></textarea>
    					</div>
  					</div>

				</form>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        		<button type="button" id="btnModalAddAset" class="btn btn-primary">提交</button>
      		</div>
    	</div>
  	</div>
</div>
            </div>
		</div>
	</div>
</div>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/adminlte.min.js"></script>
		<script src="/static/js/sweetalert.min.js"></script>
		<script>

			$(".btnDelete").click(function () {
		    	var pk = $(this).attr('data');
		    	var url = "/assets/delete/?pk=" + pk;
		    	console.log(url);
				$.get(url, function(data, status){
				    if (status = "success") {
						window.location.reload();
					}
				})
        	});


			$("#btnModalAddAset").click(function () {
			    var url = "/assets/add/";
				var data = $("#formAddAsset").serialize();
				$.post(url, data, function (data) {
					console.log(data);
					if ( data.code == 0 ) {
						swal("成功！", "添加资产成功！","success");
					} else {
					 	swal("失败！", "添加资产失败.", "error");
					}

                })
            });

			$(".btnEdit").click(function () {
			    var pk = $(this).attr("data");
			    var url = "/assets/detail/" + pk + "/";
				$.get(url, function (obj) {
					$("#edit_hostname").val(obj.data.hostname);
					$("#edit_status").val(obj.data.status);
					$("#edit_op").val(obj.data.op);
					$("#edit_remark").html(obj.data.remark);
					$("#edit_pk").val(pk);

					var post_url = "/assets/edit/";
					$("#btnModalEditAset").click(function () {
					    var data = $("#formEditAsset").serialize();
                        $.post(post_url, data, function (retdata) {
							console.log(retdata);
                    	})
                    });

                })
            });

		</script>

	</body>
</html>