<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Python19 Homework from Cong</title>

		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/main.css" rel="stylesheet">
		<link href="/static/css/extend.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
	    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body>

		<nav class="navbar top-bg-color navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				   </button>
				   <a class="navbar-brand" href="#"><font color="#F0F8FF">Python19 Homework from Cong</font></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><font color="#F0F8FF">退出</font></a></li>
					</ul>
				</div>
			</div>
		</nav>

    <div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="/index">首页</a></li>
					<li><a href="/cmd">命令执行</a></li>
					<li><a href="/ssum">求和功能</a></li>
					<li><a href="/asset">资产管理</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">资产管理</h1>
                <button id="addpage" class="btn btn-warning"><a href="/asset/addpage/">新增</a></button>
                <table id='grd' class="table table-hover">
					<tr>
						<td>ID</td>
						<td>主机名</td>
						<td>cpu核数</td>
						<td>cpu型号</td>
						<td>内存大小</td>
						<td>管理员</td>
						<td>修改日期</td>
					</tr>
					{%for obj in objs%}
					<tr >
						<td >{{obj.id}}</td>
						<td>{{obj.host_name}}</td>
						<td>{{obj.cpu_num}}</td>
						<td>{{obj.cpu_model}}</td>
						<td>{{obj.mem_total}}</td>
						<td>{{obj.op}}</td>
						<td>{{obj.update_date}}</td>
						<td>
							<button class="btn btn-info btn-xs">编辑</button>
							<button class="btn btn-danger btn-xs btnDelete" data="{{obj.id}}">删除</button>
						</td>
					</tr>
					{%endfor%}


				</table>

			</div>
		</div>
    </div>
	<script>
	$(".btnDelete").click(function () {
		var id = $(this).attr('data');
		alert(id);
		var url = "/asset/delete/?id=" + id;
		console.log(url);
		$.get(url, function(data, status){
			if (status = "success") {
				window.location.reload();
			}
		})
	})


	</script>
	</body>
</html>